%section.admin.admin-panel

  %h1 Admin Panel
  
  %h2 Add Content
  %ul
    %li= link_to 'Blog Entry', new_blog_path, class: 'btn'
    %li= link_to 'Artwork', new_artwork_path, class: 'btn'

  %h2 Manage Content
  %ul
    %li= link_to 'Blog', blogs_path, class: 'btn'
    %li= link_to 'Artwork', artworks_path, class: 'btn'

  %h2 Settings
  %ul
    %li= link_to 'Users', users_path, class: 'btn'
    %li= link_to 'Categories', categories_path, class: 'btn'
    %li= link_to 'Headers', headers_path, class: 'btn'






