= form_for(@artwork) do |f|
  - if @artwork.errors.any?
    #error_explanation
      %h2 #{ pluralize(@artwork.errors.count, "error") } prohibited this artwork from being saved:

      %ul
      - @artwork.errors.full_messages.each do |msg|
        %li= msg


  .field
    = f.label :title
    = f.text_field :title, autofocus: 'autofocus'
    
  .field
    = f.label :category_id
    = f.collection_select(:category_id, Category.all, :id, :name, { selected: params[:category_id] })

  .field
    = f.label :price
    = f.number_field :price

  .field
    = f.label :sold
    = f.check_box :sold

  .field
    = f.label :medium
    = f.text_field :medium,  value: 'Acrylic on Canvas', id: 'mediumtxt', data: {auto_complete_source: @media }
  
  .field
    = f.label :width
    = f.number_field :width
  
  .field
    = f.label :length
    = f.number_field :length
  
  .field
    = f.label :year
    = f.select :year, (2000..Time.now.year).to_a.reverse, { prompt: false }

  .field
    = f.label :image
    = f.file_field :image

  .actions
    = f.submit class: 'btn'

