%section.admin
  %h1 Create Thumbnail

  .crop-holder
    = image_tag @artwork.image_url(:large), id: "cropbox"
    #crop-preview
      = image_tag @artwork.image_url(:large), :id => "preview"

  = form_for @artwork do |f|
    - %w[x y w h].each do |attribute|
      = f.hidden_field "crop_#{attribute}"

    .actions
      = f.submit "Crop", class: 'btn'