%section.admin
  %h1 Listing Headers

  - if notice
    %p#notice= notice

  
  - @headers.each do |header|
    =image_tag header.image_url(:large)
    = header.active
    %td.actions
      = link_to 'Edit', edit_header_path(header)
      = link_to 'Destroy', header, method: :delete, data: { confirm: 'Are you sure?' }

  .actions
    = link_to 'New Header', new_header_path, class: 'btn'